{% extends "base.html" %}

{% block content %}
<h3>List of teamnames </h3>
{% for t in teams %}
	{{t}} </br>
	{% endfor %}
	<br />
<form action="../addMatch/" method="post">
	{% csrf_token %}
	<input id="MatchNum" name="match">Match ID</input><br />
	<input id="winner" name="winner">Winning Team's name</input><br />
	<input id="Team1 Name" name="team1name">Team1 Name</input><br />
	<input id="Player1" name="P1">Player 1</input><br />
	<input id="Player2" name="P2">Player 2</input><br />
	<input id="Player3" name="P3">Player 3</input><br />
	<input id="Player4" name="P4">Player 4</input><br />
	<input id="Player5" name="P5">Player 5</input><br />
	<input id="Team2 Name" name="team2name">Team2 Name</input><br />
	<input id="2Player1" name="2P1">Player 1</input><br />
	<input id="2Player2" name="2P2">Player 2</input><br />
	<input id="2Player3" name="2P3">Player 3</input><br />
	<input id="2Player4" name="2P4">Player 4</input><br />
	<input id="2Player5" name="2P5">Player 5</input><br />
	<input type="submit" value="OK">
</form>

{% endblock %}