<html>
<head>
    <title>LoL@Pitt OLS</title>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>

	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>

<script>
  Twitch.init({clientId: '92qnbzb63uhc0di1bpz0ek7mch514cs'}, function(error, status) {
    });
</script>
<script>
Twitch.api({method:'pittlol'}, function(channel) {

    if (channel["stream"] == null) { 
        $( ".stream1" ).css( "display", "none" );
    } else {
       $( ".stream1" ).css( "display", "block" );
    
    }
});
Twitch.api({method:'pittlol2'}, function(channel) {

    if (channel["stream"] == null) { 
        $( ".stream2" ).css( "display", "none" );
    } else {
       $( ".stream2" ).css( "display", "block" );
    
    }
});
Twitch.api({method:'pittlol3'}, function(channel) {

    if (channel["stream"] == null) { 
        $( ".stream3" ).css( "display", "none" );
    } else {
       $( ".stream3" ).css( "display", "block" );
    
    }
});
</script>


</head>
<body>
{% block header %}


 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/ols/">OLS Spring 2016</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/ols/schedule/">Schedule</a>
                    </li>
                    <li>
                        <a href="/ols/playoffs/">Playoffs</a>
                    </li>
                    <li>
                        <a href="/ols/standings/">Standings</a>
                    </li>
                    <li>
                        <a href="/ols/stats/">Stats</a>
                    </li>
                    <li>
                        <a href="/ols/rules/">Rules</a>
                    </li>
                    <li>
                    	<a href="/accounts/login/">Login</a>
                    </li>
                     <li>
                        <a href="/accounts/logout/">Logout</a>
                    </li>
                    <li class="stream1">
                        <a href="http://www.twitch.tv/pittlol" style="color:white;">Pittlol is live</a>
                    </li>
                      <li class="stream2">
                        <a href="http://www.twitch.tv/pittlol2" style="color:white;">Pittlol2 is live</a>
                    </li>
                      <li class="stream3">
                        <a href="http://www.twitch.tv/pittlol3" style="color:white;">Pittlol3 is live</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
</nav><!-- End of NavBar -->
{% endblock %}

<div class="container">

<div class="row">
{% block content %}

{% endblock %}
</div><!-- End of Row -->
</div><!-- End of Container -->
<br /><br /><br /><!--
<img src="{% static "img/Leaguelogo.png" %}" id="leaguelogo"> -->
 </body>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</html>