{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<script src="{% static "jquery-ui-1.11.4/jquery-ui.js" %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>
  <style type="text/css">
  table {
        border-collapse: separate;
        border-spacing: 10px 5px;
      }
  </style>

  <div id="schedulerules">
  	<ul>
  	<li>Each of the weekly rounds will begin and end on Sundays at midnight.</li>
<li>Postponing past Sunday must be approved by an admin</li>
<li>Rescheduling matches is allowed if agreed to by both teams.</li>
</ul>

  </div>
{% for ele in schedule %}
<table class="week" id="{{forloop.counter}}"> <thead class="weekanddate"><th> Week {{forloop.counter}} - {{ele.startdate}}</th></thead>
	{% for key, league in ele.week.items %}
	<tr class="league"><th id="key">{{key}}</th></tr>
		{%for game in league%}
		<tr><td class="team1"><a href="/ols/t/{{game.team1.teamID}}">{{game.team1.teamName}}</a></td><td class="Vs">Vs</td><td class="team2"><a href="/ols/t/{{game.team2.teamID}}">{{game.team2.teamName}}</a></td>
		<td class="datetime">
			{% if game.canedit and not game.game2 %} 
			<form action="/ols/reschedule/" method="post">
				{% csrf_token %}
				<input type="hidden" name="match" value="{{forloop.parentloop.parentloop.counter}}|{{game.team1.teamID}}"><input name="date" type="text" class="datepicker" value="{{game.date}}"> <input type="text" name="time" class="time" value="{{game.time}}"> <input type="submit" value="Submit">
			</form>
			{% else %}
				{% if game.date.ctime == "Fri Jan 15 00:00:00 2016" and not game.game2 %}
					Not scheduled
				{%else %}
				{{game.date}} @ {{game.time}}

				{% endif %}
			{% endif %}
		</td>
			{%if game.game1 %}
				<td>
					<a href="/ols/m/{{game.game1.Number}}">Game 1: {{game.game1w}}</a>
				</td>
			{% endif %}
			{%if game.game2 %}
				<td>
					<a href="/ols/m/{{game.game2.Number}}">Game 2: {{game.game2w}}</a>
				</td>
			{% endif %}
			{% if game.canedit and game.date.ctime != "Fri Jan 15 00:00:00 2016" and not game.game2 %} 
			<td>
				Game 1 Tourney code:  {{game.game1code.code}}
			</td>
			<td>
				Game 2 Tourney code:  {{game.game2code.code}}
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	{% endfor %}
</table>
<br /><br /><br />
{% endfor%}




{% endblock %}