{% extends "base.html" %}

{% block content %}


<div id="standingsrules">
First win of a series awards 1 point. Two wins in a series awards 3 points.

</div>
{% for l, values in leagues.items %}

<div class="col-md-3">

	<table id="{{l}}" class="table table-bordered league"><tbody><tr class="leaguename"><th>{{l}}</th><td>Points</td></tr>
		{% for t in values %}
		<tr class="teamrow"><td class="teamname"><a href="/ols/t/{{t.teamID}}">{{t.teamName}} </a></td><td class="teampoints">{{t.points}}</td></tr>
		{% endfor %}
	</tbody></table>
</div>

{% endfor %}




{% endblock %}