body{
	background-image: url("kids.png");
}
.row{
    margin-top: 5.5em;
}
.leaguename{
    background-color: white;
    font-size: 130%;
}

.teamrow{
    background-color: white;
    color: blue;
}
.teampoints{
    color: black;
}